@theme {
  --color-light-primary: #246a4b;
  --color-light-surface-tint: #246a4b;
  --color-light-on-primary: #ffffff;
  --color-light-primary-container: #abf2ca;
  --color-light-on-primary-container: #005235;
  --color-light-secondary: #4d6356;
  --color-light-on-secondary: #ffffff;
  --color-light-secondary-container: #d0e8d7;
  --color-light-on-secondary-container: #364b3f;
  --color-light-tertiary: #3c6472;
  --color-light-on-tertiary: #ffffff;
  --color-light-tertiary-container: #c0e9fa;
  --color-light-on-tertiary-container: #234c5a;
  --color-light-error: #ba1a1a;
  --color-light-on-error: #ffffff;
  --color-light-error-container: #ffdad6;
  --color-light-on-error-container: #93000a;
  --color-light-background: #f5fbf4;
  --color-light-on-background: #171d19;
  --color-light-surface: #f5fbf4;
  --color-light-on-surface: #171d19;
  --color-light-surface-variant: #dce5dc;
  --color-light-on-surface-variant: #404943;
  --color-light-outline: #707972;
  --color-light-outline-variant: #c0c9c1;
  --color-light-shadow: #000000;
  --color-light-scrim: #000000;
  --color-light-inverse-surface: #2c322e;
  --color-light-inverse-on-surface: #edf2ec;
  --color-light-inverse-primary: #90d5af;
  --color-light-primary-fixed: #abf2ca;
  --color-light-on-primary-fixed: #002113;
  --color-light-primary-fixed-dim: #90d5af;
  --color-light-on-primary-fixed-variant: #005235;
  --color-light-secondary: #4d6356;
  --color-light-on-secondary-fixed: #0b1f15;
  --color-light-secondary-fixed-dim: #b4ccbc;
  --color-light-on-secondary-fixed-variant: #364b3f;
  --color-light-tertiary-fixed: #c0e9fa;
  --color-light-on-tertiary-fixed: #001f28;
  --color-light-tertiary-fixed-dim: #a4cddd;
  --color-light-on-tertiary-fixed-variant: #234c5a;
  --color-light-surface-dim: #d6dbd5;
  --color-light-surface-bright: #f5fbf4;
  --color-light-surface-container-lowest: #ffffff;
  --color-light-surface-container-low: #f0f5ef;
  --color-light-surface-container: #eaefe9;
  --color-light-surface-container-high: #e4eae3;
  --color-light-surface-container-highest: #dee4de;
  --color-dark-primary: #90d5af;
  --color-dark-surface-tint: #90d5af;
  --color-dark-on-primary: #003823;
  --color-dark-primary-container: #005235;
  --color-dark-on-primary-container: #abf2ca;
  --color-dark-secondary: #b4ccbc;
  --color-dark-on-secondary: #203529;
  --color-dark-secondary-container: #364b3f;
  --color-dark-on-secondary-container: #d0e8d7;
  --color-dark-tertiary: #a4cddd;
  --color-dark-on-tertiary: #053542;
  --color-dark-tertiary-container: #234c5a;
  --color-dark-on-tertiary-container: #c0e9fa;
  --color-dark-error: #ffb4ab;
  --color-dark-on-error: #690005;
  --color-dark-error-container: #93000a;
  --color-dark-on-error-container: #ffdad6;
  --color-dark-background: #0f1511;
  --color-dark-on-background: #dee4de;
  --color-dark-surface: #0f1511;
  --color-dark-on-surface: #dee4de;
  --color-dark-surface-variant: #404943;
  --color-dark-on-surface-variant: #c0c9c1;
  --color-dark-outline: #8a938c;
  --color-dark-outline-variant: #404943;
  --color-dark-shadow: #000000;
  --color-dark-scrim: #000000;
  --color-dark-inverse-surface: #dee4de;
  --color-dark-inverse-on-surface: #2c322e;
  --color-dark-inverse-primary: #246a4b;
  --color-dark-primary-fixed: #abf2ca;
  --color-dark-on-primary-fixed: #002113;
  --color-dark-primary-fixed-dim: #90d5af;
  --color-dark-on-primary-fixed-variant: #005235;
  --color-dark-secondary: #b4ccbc;
  --color-dark-on-secondary-fixed: #0b1f15;
  --color-dark-secondary-fixed-dim: #b4ccbc;
  --color-dark-on-secondary-fixed-variant: #364b3f;
  --color-dark-tertiary-fixed: #c0e9fa;
  --color-dark-on-tertiary-fixed: #001f28;
  --color-dark-tertiary-fixed-dim: #a4cddd;
  --color-dark-on-tertiary-fixed-variant: #234c5a;
  --color-dark-surface-dim: #0f1511;
  --color-dark-surface-bright: #353b36;
  --color-dark-surface-container-lowest: #0a0f0c;
  --color-dark-surface-container-low: #171d19;
  --color-dark-surface-container: #1b211d;
  --color-dark-surface-container-high: #262b27;
  --color-dark-surface-container-highest: #303632;
  --color-light-link: var(--color-blue-700);
  --color-dark-link: var(--color-blue-300);
  --color-light-form: var(--color-light-surface-container-lowest);
  --color-light-on-form: var(--color-dark-surface-container-lowest);
  --color-dark-form: var(--color-light-on-surface);
  --color-dark-on-form: var(--color-dark-on-surface);
}
