@theme {
  --color-light-primary: #38693c;
  --color-light-surface-tint: #38693c;
  --color-light-on-primary: #ffffff;
  --color-light-primary-container: #b9f0b7;
  --color-light-on-primary-container: #1f5026;
  --color-light-secondary: #526350;
  --color-light-on-secondary: #ffffff;
  --color-light-secondary-container: #d4e8d0;
  --color-light-on-secondary-container: #3a4b39;
  --color-light-tertiary: #39656c;
  --color-light-on-tertiary: #ffffff;
  --color-light-tertiary-container: #bcebf2;
  --color-light-on-tertiary-container: #1f4d53;
  --color-light-error: #ba1a1a;
  --color-light-on-error: #ffffff;
  --color-light-error-container: #ffdad6;
  --color-light-on-error-container: #93000a;
  --color-light-background: #f7fbf2;
  --color-light-on-background: #181d18;
  --color-light-surface: #f7fbf2;
  --color-light-on-surface: #181d18;
  --color-light-surface-variant: #dee5d9;
  --color-light-on-surface-variant: #424940;
  --color-light-outline: #72796f;
  --color-light-outline-variant: #c2c9bd;
  --color-light-shadow: #000000;
  --color-light-scrim: #000000;
  --color-light-inverse-surface: #2d322c;
  --color-light-inverse-on-surface: #eef2e9;
  --color-light-inverse-primary: #9ed49d;
  --color-light-primary-fixed: #b9f0b7;
  --color-light-on-primary-fixed: #002107;
  --color-light-primary-fixed-dim: #9ed49d;
  --color-light-on-primary-fixed-variant: #1f5026;
  --color-light-secondary-fixed: #d4e8d0;
  --color-light-on-secondary-fixed: #101f10;
  --color-light-secondary-fixed-dim: #b9ccb5;
  --color-light-on-secondary-fixed-variant: #3a4b39;
  --color-light-tertiary-fixed: #bcebf2;
  --color-light-on-tertiary-fixed: #001f23;
  --color-light-tertiary-fixed-dim: #a1ced6;
  --color-light-on-tertiary-fixed-variant: #1f4d53;
  --color-light-surface-dim: #d7dbd3;
  --color-light-surface-bright: #f7fbf2;
  --color-light-surface-container-lowest: #ffffff;
  --color-light-surface-container-low: #f1f5ec;
  --color-light-surface-container: #ebefe6;
  --color-light-surface-container-high: #e6e9e1;
  --color-light-surface-container-highest: #e0e4db;
  --color-dark-primary: #9ed49d;
  --color-dark-surface-tint: #9ed49d;
  --color-dark-on-primary: #043912;
  --color-dark-primary-container: #1f5026;
  --color-dark-on-primary-container: #b9f0b7;
  --color-dark-secondary: #b9ccb5;
  --color-dark-on-secondary: #243424;
  --color-dark-secondary-container: #3a4b39;
  --color-dark-on-secondary-container: #d4e8d0;
  --color-dark-tertiary: #a1ced6;
  --color-dark-on-tertiary: #00363c;
  --color-dark-tertiary-container: #1f4d53;
  --color-dark-on-tertiary-container: #bcebf2;
  --color-dark-error: #ffb4ab;
  --color-dark-on-error: #690005;
  --color-dark-error-container: #93000a;
  --color-dark-on-error-container: #ffdad6;
  --color-dark-background: #101410;
  --color-dark-on-background: #e0e4db;
  --color-dark-surface: #101410;
  --color-dark-on-surface: #e0e4db;
  --color-dark-surface-variant: #424940;
  --color-dark-on-surface-variant: #c2c9bd;
  --color-dark-outline: #8c9389;
  --color-dark-outline-variant: #424940;
  --color-dark-shadow: #000000;
  --color-dark-scrim: #000000;
  --color-dark-inverse-surface: #e0e4db;
  --color-dark-inverse-on-surface: #2d322c;
  --color-dark-inverse-primary: #38693c;
  --color-dark-primary-fixed: #b9f0b7;
  --color-dark-on-primary-fixed: #002107;
  --color-dark-primary-fixed-dim: #9ed49d;
  --color-dark-on-primary-fixed-variant: #1f5026;
  --color-dark-secondary-fixed: #d4e8d0;
  --color-dark-on-secondary-fixed: #101f10;
  --color-dark-secondary-fixed-dim: #b9ccb5;
  --color-dark-on-secondary-fixed-variant: #3a4b39;
  --color-dark-tertiary-fixed: #bcebf2;
  --color-dark-on-tertiary-fixed: #001f23;
  --color-dark-tertiary-fixed-dim: #a1ced6;
  --color-dark-on-tertiary-fixed-variant: #1f4d53;
  --color-dark-surface-dim: #101410;
  --color-dark-surface-bright: #363a34;
  --color-dark-surface-container-lowest: #0b0f0b;
  --color-dark-surface-container-low: #181d18;
  --color-dark-surface-container: #1c211b;
  --color-dark-surface-container-high: #272b26;
  --color-dark-surface-container-highest: #313630;

  --color-light-link: var(--color-blue-700);
  --color-dark-link: var(--color-blue-300);
  --color-light-form: var(--color-light-surface-container-lowest);
  --color-light-on-form: var(--color-dark-surface-container-lowest);
  --color-dark-form: var(--color-light-on-surface);
  --color-dark-on-form: var(--color-dark-on-surface);
}
